.panel-actions {
  margin-bottom: 0;
  text-align: right;
}
.panel-actions a {
  color: white;
}
.panel-fullscreen {
    display: block;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}
#panel-heading{
    //background-color: #2d2d2d;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    box-shadow: none;
    border: 1px solid #3079ed;
    color: #fff;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    border-radius: 0px;
    padding: 0px;
}
.panel{
    border-radius: 0px;
}